body{
 
    background-color: rgb(0, 0, 0);


}

.c{
background: white;
text-align: center;

}


.topo{
 background-color: aqua;

}


.img{
text-align: center;
width: 100px;
height: 100px;
padding: 1px ;
margin: 650px;
margin-top: 0px;
}